<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>668240857159-0kdkfc8gsrmi1ci8g8cjbvv8a9kaahdl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.668240857159-0kdkfc8gsrmi1ci8g8cjbvv8a9kaahdl</string>
	<key>API_KEY</key>
	<string>AIzaSyBPvoZOptaB_HT2Fg4EUzxkwp3EUGVenJg</string>
	<key>GCM_SENDER_ID</key>
	<string>668240857159</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CLC.Clean-Living-Community</string>
	<key>PROJECT_ID</key>
	<string>clcapp-28ca7</string>
	<key>STORAGE_BUCKET</key>
	<string>clcapp-28ca7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:668240857159:ios:f9b2e2448d4fef4d</string>
	<key>DATABASE_URL</key>
	<string>https://clcapp-28ca7.firebaseio.com</string>
</dict>
</plist>
